# 이 파일을 복사해서 .env로 저장하고 값을 채운다. .env는 git에 올라가지 않는다(.gitignore 처리됨).

# 네이버 블로그 아이디 (blog.naver.com/이 부분)
BLOG_ID=erumgamsa

# (선택) 네이버 검색 오픈API 연동 시에만 필요. 없어도 /blog-series는 동작함
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
